{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class = "row">
  <div class = 'otsikko'>
    <img id = "logo" src = "{% static "images/logo.png" %}" height = '80'></a>
    <blockquote class="blockquote" id="slogan">
      <p class="mb-0">Sankariheittoja jo vuodesta 2017</p>
    </blockquote>
<hr />
  </div>
</div>

<div id = "sisalto">
  <p class=lead>
    Sankariheittäjät on pääkaupunkiseutulainen frisbeegolfseura.
  </p>
<p>
  Sankarihettäjien tarkoituksena on intohimoisesti tukea lajiin hurahtaneita pilke silmäkulmassa, sankarimaisten tekojen kautta.
</p>
  <p>
     Näihin voi kuulua eeppiset "hysseä antsassa"-heitot kapeilla metsäpilleillä, etsien taivaalta tilaa.
  </p>
  Toiminta on rentoa ja hyvällä porukalla rakennettua. Mitään ei tehdä tässä seurassa hampaat irvessä. Seuramme on vielä pieni, mutta otamma ilomielin uusia koejäseniä kokeilemaan oman sankariuden rajat.
</p>
</div>

{% endblock %}
