.otsikko {
  width: 50%;
  margin: 0 auto;
}

.uutinen {
  margin: 5%;
}

h2 {
  padding: 30px;

}

.jumbotron {
  background-color: #ddfccf;
}

.uutiset {
  background-color: #ebfce3;

}

.navbar {
  border-bottom: 3px solid green;
  border-radius: 15px;
}


.logo {
  float: left;
  height: 150px;
  width: 120px;
  font-family: Veranda;
}
.slogan {
  text-align: center;
  line-height: 150px;
  float:right;
  margin-right: 20px;
}

.nav.navbar.navbar-expand-lg.navbar-light {
  margin: auto;
  text-align = center;
}
